@{
    ViewData["Title"] = "My Purchases";
    //List<Product> pdtspurchased = (List<Product>)ViewData["pdtspurchased"];
    List<PurchaseDetail> purchases = (List<PurchaseDetail>)ViewData["purchases"];

}

@section Scripts
{
    <script src="~/js/mypurchases/index.js"></script>
}

@{

    //if not purchases made yet
    if (purchases == null)
    {
    <div align="center">
        <span style="font-size:20px">
            You have yet to purchase anything!
            Browse our products <a href="/">here</a> now! :)
        </span>
    </div>

    }

    //have past purchases
    else
    {
    <table align="center">


        @foreach (PurchaseDetail p in purchases)
        {
            DateTimeOffset pdatetime = DateTimeOffset.FromUnixTimeSeconds(p.Purchase.Timestamp).ToLocalTime();
            <tr>
                <td>
                    <div class="card bg-light m-3" style="float: left; border: 1px solid black; text-align: center; padding: 10px 10px; width: 220px; height: 380px; border-radius:5px;">
                        <div class="card-header">
                            <img src="@p.Product.Image" width="100" /> <br />

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@p.Product.Name </h5>
                            <p class="card-text">
                                <div style="height:60px; text-align:left; font-size:12pt;">
                                    @p.Product.Description
                                </div>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <span style="font-size: 14px; font-weight:bold;">Purchased on:</span>
                    <span id="purchasedate"> @pdatetime</span>
                    <br />

                    <span style="font-size: 14px; font-weight:bold;">Quantity:</span>
                    <span> @p.Quantity</span>
                    <br />

                    <span style="font-size: 14px; font-weight:bold;">Activation Key:</span>

                    <select name="atvkeys">
                        @foreach (ActivationKey ak in p.ActivationKeys)
                        {
                            <option value="@ak.PdtAtvKey">@ak.PdtAtvKey</option>
                        }
                    </select>

                    <br />
                </td>
            </tr>
        }
    </table>

    }
}

