@{
    ViewData["Title"] = "Home Page";
    List<Product> products = (List<Product>)ViewData["products"];
}
@section Scripts
{
    <script src="~/js/home/index.js"></script>
}

<div align="right" style="padding-right:30px">
    <a href="/Cart/Index"><img src="~/images/Cart.png" width="30" /></a>
    <div id="cart_counter" style="border:1px solid black; width:30px; border-radius: 15px; padding: 5px 10px; display:inline; font-weight:bold;">
        @ViewData["numberOfProductsInCart"]
    </div>
</div>

<div class="input-group mb-3 col-8" style="margin:auto;">
    <form method="get" asp-action="Index">
        <div class="input-group-prepend">
            <p>

                <span class="input-group-text" id="basic-addon1">
                    <img src="~/images/search.png" width="20" height="20" />
                    <input class="form-control" type="search" placeholder="Search" value="@ViewData["GetProductDetails"]" name="keyword" style="width:500px; height:30px" />
                    <input type="submit" value=" Search" class="btn btn-primary" />
                </span>

            </p>
        </div>
    </form>
</div>

<table align="center">
    @{
        int numOfColumns = 3, numOfRows = (int)(Math.Ceiling(products.Count() / (decimal)numOfColumns));
        int numOfCells = numOfColumns * numOfRows;
        for (int i = 0; i < numOfCells; i++)
        {
            if (i % numOfColumns == 0)
            {
                @:<tr>
                }
                if (i < products.Count())
                {
                    <td>
                        <div class="card bg-light m-3" style="float: left; border: 1px solid black; text-align: center; padding: 10px 10px; width: 220px; height: 380px; border-radius:5px;">
                            <div class="card-header">
                                <img src="@products[i].Image" width="100" /> <br />

                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@products[i].Name </h5>
                                <p class="card-text">
                                    <div style="height:60px; text-align:left; font-size:12pt;">
                                        @products[i].Description
                                    </div>
                                    <br />
                                    <br /> 
                                    <button product_id=@products[i].Id class="btn btn-primary addtocart" style="padding: 5px 5px; width:160px;">$@products[i].Price - Add To Cart</button>
                                </p>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    @:<td></td>
                }
                if (i % numOfColumns == numOfColumns - 1)
                {
                @:</tr>
            }
        }
    }
</table>