@{ ViewData["Title"] = "Home Page";
    List<Product> products = (List<Product>)ViewData["products"];
    List<CartDetail> cartDetails = (List<CartDetail>)ViewData["cart"];
}


<div style="height:30px;">
    <span style="float: left">
        <strong> VIEW CART</strong> | <a href="/Home/Index">Continue Shopping </a> | <a href="/MyPurchases/Index">Checkout</a>
    </span>
    <span style="float:right" id="totalPrice"></span>
</div>
<div id="displayItems">
    @foreach (var orderd in orderDetails)
    {
        <div class="card bg-light m-3" style="float: left; border: 1px solid black; text-align: center; padding: 10px 10px; width: 220px; height: 380px; border-radius:5px;">
            <div class="card-header">

                <img src="@orderd.Product.Image" width="100" /> <br />

            </div>
            <div class="card-body">

                <h5 class="card-title">@orderd.Product.Name </h5>
                <div class="card-text">
                    <div style="height:60px; text-align:left; font-size:12pt;">
                        @orderd.Product.Description
                    </div>
                    <br />
                    <br />

                </div>

            </div>
        </div>

        <p>Quantity:</p>

        <div id="number">@orderd.Quantity</div>
        <button id="increment">+</button>
        <button id="decrement">-</button>

        <p>Price:</p>
        <div>
            (@orderd.Quantity * @orderd.Product.Price)
        </div>

    }

</div>